<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITextFailed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0A2A7321F4C102E008031D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0A2A74B1F4C102E008031D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0A2A7561F4C102E008031D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
